<template>
  <v-container
    id="home"
    grid-list-md
    text-xs-center
    fluid
  >
    <v-row
      id="homeSearchTop"
      justify="center"
    >
      <v-col
        cols="12"
        class="text-center mt-10"
        style="text-align:center"
      >
        <v-text class="text--secondary display-1 font-weight-bold">
          {{ $t('home.title') }}        
        </v-text>
      </v-col>
      <v-col
        cols="6"
        class="text-center mt-2"
        style="text-align:center"
      >
        <a
          :href="$t('route.events')"
        >
          <img
            :src="$t('visuals.logoMovici')"
            :width="widthLogo+'px'"
            :height="heightLogo+'px'"
          >
        </a>
      </v-col>
    </v-row>
    <v-row id="topLine">
      <v-col
        id="volcano"
        cols="6"
        :style="'background-image:url(\''+$t('visuals.volcano')+'\');'"
      />
      <v-col
        id="sun-cloud"
        cols="6"
        :style="'background-image:url(\''+$t('visuals.sunCloud')+'\');'"
      />
    </v-row>
    <v-row>
      <div
        id="homeBanner"
      >
        <v-row
          id="search"
          class="mb-5 pb-12"
          justify-lg="center"
          no-gutters
        >
          <v-col
            id="woman"
            cols="3"
            :style="'background-image:url(\''+$t('visuals.woman')+'\');'"
          />
          <v-col
            cols="6"
          >
            <search
              :geo-search-url="geoSearchUrl"
              :user="user"
              :regular="regular"
              :punctual-date-optional="punctualDateOptional"
              :full-size="true"
              class-align-search-button="text-left"
              class-align-publish-button="text-right"
              class="font-weight-bold  tertiary--text"
            />

            <v-row
              dense
              justify="center"
            >
              <v-col
                align="center"
                cols="12"
              >
                <v-btn
                  rounded
                  color="success"
                  :href="$t('route.relayPoints')"
                  dark
                  class="elevation-0"
                >
                  {{ $t('button.relayPoints') }}
                </v-btn>
              </v-col>
            </v-row>

            <v-row
              dense
              class="font-italic"
              justify="center"
            >
              <v-col
                cols="12"
                lg="12"
                class="primary--text font-italic text-center mt-4"
              >
                <v-row
                  dense
                  class="my-0 py-0"
                >
                  <v-col
                    cols="12"
                    class="text-center tertiary--text"
                  >
                    {{ $t('otherOffers.mobilityOffers') }}<br>
                  </v-col>
                </v-row>
                <v-row
                  justify="center"
                  dense
                  class="my-0 py-0"
                >
                  <v-col
                    cols="5"
                    class="mx-0 px-0 text-right"
                    style="cursor: pointer"
                    :class="{ 'light': textLightAura}" 
                    @mouseover="textLightAura = !textLightAura"
                    @mouseout="textLightAura = !textLightAura"
                  >
                    {{ $t('otherOffers.publicTransport') }}<br>
                    <img
                      width="100px"
                      class="mt-1"
                      :src="$t('otherOffers.logoOura')"
                    >
                  </v-col>
                  <v-col
                    cols="1"
                    class="mx-0 px-0 text-right tertiary--text"
                  >
                    |<br>
                  </v-col>
                  <v-col
                    cols="5"
                    class="mx-0 px-0 text-left tertiary--text"
                    style="cursor: pointer"
                    :class="{ 'light': textLightCitiz}" 
                    @mouseover="textLightCitiz = !textLightCitiz"
                    @mouseout="textLightCitiz = !textLightCitiz"
                  >
                    {{ $t('otherOffers.autoShare') }}<br>
                    <img

                      width="100px"
                      class="mt-2"
                      :src="$t('otherOffers.logoCitiz')"
                    >
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col
            id="man"
            cols="3"
            :style="'background-image:url(\''+$t('visuals.man')+'\');'"
          />
        </v-row>
      </div>
    </v-row>
    <v-row
      align="center"
      justify="center"
    >
      <m-features
        :title="$t('title')"
        :subtitle="$t('subtitle')"
        :items="items"
        :background-image-right="$t('visuals.backgroundImageFeatures')"
      />
    </v-row>
    <v-row>
      <phone-display />
    </v-row>
    <v-row align="end">
      <v-col
        cols="5"
        md="12"
        lg="5"
        offset-lg="3"
        offset-md="0"
        class="text-center tertiary--text display-1"
      >
        {{ $t('social.text') }} 

        <a
          :href="$t('social.urlHastag')"
          style="text-decoration:none;"
          class="font-weight-black  tertiary--text"
          target="_blank"
        >
          {{ $t('social.hashtag') }}
        </a>
      </v-col>
      <v-col
        cols="4"
        md="12"
        lg="4"
        offset-lg="0"
        offset-md="5"
      >
        <v-img
          :src="$t('visuals.logoMoviciCarpool')"
          width="200px"
          style="text-align:center"
        />
      </v-col>
    </v-row>
    <v-row>
      <m-social-feeds />
    </v-row>
    <v-row>
      <communities-events />
    </v-row>
  </v-container>
</template>

<script>
import {merge} from "lodash";
import Translations from "@translations/components/home/Home.json";
import TranslationsClient from "@clientTranslations/components/home/Home.json";
import Search from "@components/carpool/search/Search";
import MFeatures from "@clientComponents/home/Features";
import PhoneDisplay from "@clientComponents/home/PhoneDisplay";
import CommunitiesEvents from "@clientComponents/home/CommunitiesEvents";
import MSocialFeeds from "@components/utilities/social/MSocialFeeds";

let TranslationsMerged = merge(Translations, TranslationsClient);

export default {
  i18n: {
    messages: TranslationsMerged
  },
  components: {
    Search,
    MFeatures,
    PhoneDisplay,
    CommunitiesEvents,
    MSocialFeeds
  },
  props: {
    geoSearchUrl: {
      type: String,
      default: ""
    },
    user: {
      type: Object,
      default: null
    },
    regular: {
      type: Boolean,
      default: false
    },
    punctualDateOptional: {
      type: Boolean,
      default: false
    },
    solidaryDisplay: {
      type: Boolean,
      default: false
    },
    eventDisplay: {
      type: Boolean,
      default: false
    },
    communityDisplay: {
      type: Boolean,
      default: false
    },
    // params to add to the publish and search routes
    params: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      items:this.$t("items"),
      widthDivs: 1490,
      widthLogo:250,
      heightLogo:161,
      textLightAura:true,
      textLightCitiz:true,

    }
  }
};
</script>

<style scoped lang="scss">
    #home {
        #volcano{
          background-position:bottom left;          
          background-size:contain;
          height:280px;
        }
        #sun-cloud{
          background-position:bottom right;
          background-size:30%;
          width:100%;
        }
    #homeBanner{
      // background-position-y: bottom;
      // background-position-x: center;
      width:100%;
      #woman{
        background-position:top left;          
        background-size:contain;
      }
      #man{
        background-position:top right;    
        background-size:contain;
      }
      #search{
        //padding-top:148px;
      }
      .light{
        opacity: 60%;
      }
    }
  }
</style>