<template>
  <div>
    <div
      id="mountains"
      :style="'background-image:url(\''+$t('urlImage')+'\');'"
    />
    <v-footer
      height="auto"
      padless
      color="tertiary"
    >
      <v-container
        fluid
        class="pt-5"
      >
        <v-row
          justify="center"
        >
          <v-col cols="4">
            <v-row>
              <v-col cols="12">
                <v-img
                  :src="$t('logoMovIci')"
                  :height="imageHeight"
                  :width="imageWidth"
                  contain
                />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row
          justify="center"
          class="white--text my-2"
        >
          <span
            v-for="(link, index) in $t('links')"
            :key="index"
          >
            <a
              class="white--text"
              :href="link.url"
            >{{ link.name }}</a><span v-if="index < $t('links').length -1">&nbsp;&nbsp;|&nbsp;&nbsp;
            </span>
          </span>
        </v-row>
        <v-row
          class="success mt-5"
          justify="center"
        >
          <span class="pa-4">
            {{ $t('licence') }}
          </span>
        </v-row>
      </v-container>
    </v-footer>
  </div>
</template>

<script>
import { merge } from "lodash";
import Translations from "@translations/components/base/MFooter.json";
import TranslationsClient from "@clientTranslations/components/base/MFooter.json";
import Package from '@root/package.json'

let TranslationsMerged = merge(Translations, TranslationsClient);

export default {
  i18n: {
    messages: TranslationsMerged
  },
  data() {
    return {
      version: Package.version,
      imageHeight: "70px",
      imageWidth: "auto"
    }
  }
};
</script>

<style scoped lang="scss">
  * {
    font-family: Raleway, sans-serif;
  }
  .v-application a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  #mountains{
    height:146px;
    background-position:right;
  }
  .container {
    padding-bottom: unset;
  }
</style>