<template>
  <div>
    <v-app-bar
      height="70px"
      color="white"
      fixed
      elevate-on-scroll
    >
      <v-toolbar-title>
        <a
          href="/"
          class="d-flex align-center"
        >
          <v-img
            class="logo ml-12 pa-12"
            :src="imageLink + 'logo-region-auvergne-rhone-alpes-bleu-gris.svg'"
            alt="Auvergne Rhone Alpes"
            height="80"
            width="180"
            contain
            eager
          />
        </a>
      </v-toolbar-title>

      <v-spacer />

      <div v-if="user">
        <MHeaderProfile
          :avatar="user.avatars[0]"
          :short-family-name="(user.shortFamilyName) ? user.givenName+' '+user.shortFamilyName : '-'"
          :text-color-class="'font-weight-bold'"
          :links-color-class="'black--text'"
        />
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <a
              :href="$t('buttons.messages.route')"
            >
              <img
                :src="$t('message')"
                width="30px"
                height="23px"
                justify="center"
                align="center"
                class="mr-3"
                v-bind="attrs"
                v-on="on"
              >
            </a>
          </template>
          <span>{{ $t('tooltip.messages') }}</span>
        </v-tooltip>

        <MHeaderCommunities
          :user-id="user.id"
        />
      </div>
      <div v-else>
        <v-btn
          rounded
          text
          :href="$t('buttons.logIn.route')"
          class="font-weight-bold mr-4"
        >
          {{ $t('buttons.logIn.label') }}
        </v-btn>
      </div>
      <v-btn
        rounded
        :disabled="!user"
        :href="$t('buttons.shareAnAd.route')"
        class="font-weight-bold elevation-0 ml-4"
        color="success"
      >
        {{ $t('buttons.shareAnAd.label') }}
      </v-btn>
    </v-app-bar>
  </div>
</template>

<script>
import { merge } from "lodash";
import Translations from "@translations/components/base/MHeader.json";
import TranslationsClient from "@clientTranslations/components/base/MHeader.json";

import { Scroll } from 'vuetify/lib/directives'

import MHeaderProfile from "@components/base/MHeaderProfile.vue";
import MHeaderCommunities from "@components/base/MHeaderCommunities.vue";

let TranslationsMerged = merge(Translations, TranslationsClient);

export default {
  i18n: {
    messages: TranslationsMerged
  },
  components: {
    MHeaderProfile,
    MHeaderCommunities
  },
  props: {
    user: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      imageLink: "/images/pages/header/",
      width: 0,
      snackbar: null,
      fab: false
    }
  },
  methods: {
  }
};
</script>
<style scoped lang="scss">
  * {
    font-family: Roboto, sans-serif;
  }
</style>