{% extends "@Bundle/base.html.twig" %}
  {% block favicon %}
        <link rel="icon" href="/images/favicon/moviciFavicon.ico" />
    {% endblock %}

    {% block content %}
      <v-main class="pt-13">
          {% block main %}{% endblock %}
      </v-main>
    {% endblock %}